<h1>Dodaj wpis</h1>

<%= form_for([@user, @tweet]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :status, "Status" %>
  <%= f.text_field :status %>
  <%= f.hidden_field :version, value: 1 %>
  <%= f.hidden_field :current, value: true %>
  <br />
  <%= f.submit "Dodaj" %>
<% end %>