<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Strona główna", root_path %> | 
<% if current_user %>
  Zalogowany jako <%= current_user.email %>.
  <%= link_to "Wyloguj", logout_path %> |
  <%= link_to "Akceptuj zaproszenia", requests_path %> | 
  <%= link_to "Aktualności", feed_path %> | 
  <%= link_to "Dodaj wpis", new_user_tweet_path(current_user) %> |
  <%= link_to "Aktywność", activities_path %> (<%= Activity.how_many?(current_user) %>)
<% else %>
  <%= link_to "Zarejestruj", signup_path %> |
  <%= link_to "Zaloguj", login_path %>
  
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= yield %>

</body>
</html>
